<app-header></app-header>
<section id="escribe-historia">
    <div class="cont-flex">
        <div class="box animate__animated animate__slideInRight animate__delay-1s">
            <div class="margin"></div>
            <h2>ESCRIBE <span>UNA HISTORIA</span></h2>
            <p>¿Cuéntanos por qué eres fan de Jurassic World?</p>
            <div class="flex-center">
                <button type="button" class="button-naranja-black"  [routerLink]="['/escribe']" >ESCRIBIR HISTORIA</button>
            </div>
        </div>
    </div>
    <img id="dinosaurio-2" class="animate__animated animate__jackInTheBox animate__delay-2s" src="assets/images/dinosaurio-2.png" alt="...">
</section>

<div class="interseccion"></div>

<section id="registraTicket">
    <div class="cont-flex overflow-micuenta">
        <div class="box animate__animated animate__slideInLeft animate__delay-2s">
            <h2><span>REGISTRA</span> TU TICKET<br>Y PARTICIPA</h2>
            <form action="">
                <div class="flex-center">
                    <div class="file-input">
                        <label for="file-upload" class="subir">
                            <i class="fas fa-cloud-upload-alt"></i> SUBIR IMAGEN
                        </label>
                        <input id="file-upload" data-bs-toggle="modal" data-bs-target="#SubeImagen" onchange='cambiar()'  style='display: none;' />
                        <div id="info" data-bs-toggle="modal" data-bs-target="#SubeImagen">{{nombreImagen}}</div>
                    </div>
                </div>
                <div class="flex-center">
                    <input class="button-black btn-size-standar"  value="SUBIR IMAGÉN Y JUGAR">                    
                </div>
            </form>
        </div>
    </div>
    <img id="dinosaurios-3" class="animate__animated animate__jackInTheBox animate__delay-3s" src="assets/images/dinosaurios-3.png" alt="...">
</section>

<div class="interseccion"></div>

<section id="marcador">
    <div class="cont-flex">
        <div class="box animate__animated animate__zoomIn animate__delay-3s">
            <h2>PARTICIPACIONES</h2>
            <p>Cada vez que juegues, tu participación aparecerá en este marcador</p>
            <div id="overflow-table">
                <table>
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Preguntas correctas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let participacion of historial">
                            <td>{{participacion.cDia }}</td>
                            <td>{{participacion.cCorrectas}}/30</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div class="interseccion"></div>


<!-- Modal -->
<div class="modal fade" id="SubeImagen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fontLC" id="exampleModalLabel">SUBE TU TICKET</h5>
                <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body modal-body-upload">

                <app-uploadimage (imagenServida)="recibeData($event)"> </app-uploadimage>
            </div>
            <div class="modal-footer">



                <!--  <button type="button" class="btn" data-bs-dismiss="modal">¡ENTENDIDO!</button>-->
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>


<!-- <div class="flex-center">
        <div class="cont-box">
            <h2>REGISTRA TU TICKET Y PARTICIPA</h2>
            <form action="">
                <div class="flex-center">
                    <div class="file-input">
                        <label for="file-upload" class="subir">
                            <i class="fas fa-cloud-upload-alt"></i> SUBIR IMAGEN
                        </label>
                        <input id="file-upload" onchange='cambiar()' type="file" style='display: none;' />
                        <div id="info">No se ha seleccionado ningún archivo</div>
                    </div>
                </div>
                <div class="flex-center">
                    <input class="btn-enviar" type="submit" value="SUBIR Y JUGAR">
                </div>
            </form>
        </div>
    </div> -->