<app-header></app-header>
<section id="juego">
    <div class="half">
        <div class="box-preguntas animate__animated animate__slideInLeft">
            <div class="score">
                <div>
                    <img src="assets/images/dino.png" alt="dino">
                    <h2 id="dinosauriosCapturados">{{correctas}}-{{preguntacontestada}}</h2>
                </div>
                <div>
                    <img src="assets/images/reloj.png" alt="Reloj">
                    <h2 id="time"><cd-timer #basicTimer class="bootstrap-timer" format="hms" [autoStart]="true" [endTime]="30" (onComplete)="onComplete($event)" ></cd-timer></h2>
                </div>
            </div>

            <div class="lineaJuego"></div>

            <div class="preguntas">
                <h2>{{preguntaMuestra.cPregunta}}</h2>
                <div class="flex-center" *ngIf="!tiempoEspera"> <span><img src="assets/images/32x32.gif" height="50px" alt="cargando"></span></div>
                <div class="cont-respuestas">
                    <button type="button" (click)="RespuestasFormulario(preguntaMuestra.cResp1)" class="btn-trivia">{{preguntaMuestra.cResp1}}</button>
                    <button type="button" (click)="RespuestasFormulario(preguntaMuestra.cResp2)" class="btn-trivia">{{preguntaMuestra.cResp2}}</button>
                    <button type="button" (click)="RespuestasFormulario(preguntaMuestra.cResp3)" class="btn-trivia">{{preguntaMuestra.cResp3}}</button>
                    <button type="button" (click)="RespuestasFormulario(preguntaMuestra.cResp4)" class="btn-trivia">{{preguntaMuestra.cResp4}}</button>
                </div>
            </div>

        </div>
    </div>
    <div class="half">
        <img src="assets/images/Mapa.png" alt="...">
    </div>

</section>
<app-footer></app-footer>