<app-header></app-header>
<section id="escribe">
    <div class="cont-flex">

        <img id="dino1-historia" class="" src="assets/images/dinosaurio-5.png" alt="...">

        <div class="box">
            <h2><span>Escribe </span>una Historia</h2>
            <p>Cuéntanos; ¿Por qué eres fan de Jurassic World?</p>
            <form [formGroup]="historiaForm" (ngSubmit)="escribeHistoria()">
                <textarea cols="50" rows="10" required name="historiaCuentanos" formControlName="historiaCuentanos" class="form-control" [class.is-invalid]="historiaForm.get('historiaCuentanos').invalid && historiaForm.get('historiaCuentanos').touched" [class.is-valid]="historiaForm.get('historiaCuentanos').valid && historiaForm.get('historiaCuentanos').touched">
                </textarea>
                <span class="text-danger" *ngIf="isSubmitReg && historiaForm.get('historiaCuentanos').invalid">Debe proporcionar
                    una historia de por qué eres fan de Jurassic World.</span>
                <input type="submit" class="button-naranja-black" value="Enviar Historia">
            </form>
        </div>
    </div>

    <img id="dino2-historia" class="" src="assets/images/dinosaurio-4.png" alt="...">


</section>

<div class="interseccion"></div>

<app-footer></app-footer>