<!--HEADER-->
<app-header></app-header>
<!--TERMINA HEADER-->

<!--SECCIÓN BANNER PRINCIPAL-->
<section id="bannerPrincipalMobile">
    <img src="assets/images/PrincipalMobile.png" alt="..." width="100%">
</section>

<section id="bannerPrincipal">
    <div>
        <img id="logoPromo" src="assets/images/fondo-logo.png" alt="..." width="100%">
    </div>
    <div class="fondo-relativo animate__animated animate__slideInLeft animate__slow">
        <img id="animado" src="assets/images/fondo-2.png" alt="..." width="100%">
    </div>
    <div class="fondo-relativo">
        <img src="assets/images/fondo-3.png" alt="..." width="100%">
    </div>
    <div class="fondo-relativo pasto">
        <img src="assets/images/fondo-4.png" alt="..." width="100%">
    </div>
</section>
<!--TERMINA SECCIÓN BANNER PRINCIPAL-->


<div class="cont-mecanica">
    <img id="tituloMecanica" src="assets/images/tituloMecanica.png" alt="...">
</div>


<!--SECCIÓN MECÁNICA-->
<section id="mecanica">
    <div class="vacio"></div>
    <div class="flex-center cont-box-mecanica">

        <div class="box-mecanica">
            <div>
                <img src="assets/images/icono-mecanica-5.png" alt="Icono-1">
            </div>
            <h4>CUÉNTANOS</h4>
            <p>¿Por qué eres fan de Jurassic World?</p>
        </div>

        <div class="box-mecanica">
            <div>
                <img src="assets/images/icono-mecanica-1.png" alt="Icono-1">
            </div>
            <h4>COMPRA</h4>
            <p>La <span class="underline">Jurassic Pizza</span> de Little Caesars®</p>
        </div>

        <div class="box-mecanica">
            <div>
                <img src="assets/images/icono-mecanica-2.png" alt="Icono-1">
            </div>
            <h4>REGISTRA</h4>
            <p>Tu ticket de compra en este sitio web</p>
        </div>

        <div class="box-mecanica">
            <div>
                <img src="assets/images/icono-mecanica-3.png" alt="Icono-1">
            </div>
            <h4>ENCUENTRA</h4>
            <p>La mayor cantidad de dinosaurios resolviendo nuestra trivia.</p>
        </div>

        <div class="box-mecanica">
            <div>
                <img src="assets/images/icono-mecanica-4.png" alt="Icono-1">
            </div>
            <h4>PARTICIPA</h4>
            <p>Para ganar increíbles premios</p>
        </div>

    </div>
    <div class="flex-center">
        <button type="button" class="button-naranja" [routerLink]="['/registro']">REGÍSTRATE</button>
    </div>
</section>
<!--TERMINA SECCIÓN MECÁNICA-->

<div class="interseccion"></div>

<!--SECCIÓN PREMIOS-->
<section id="premios">


    <div class="flex-center">
        <div id="btn-premios">
            <div id="premiosFinales" onclick="showPremios(1)">
                <p>PREMIOS FINALES</p>
            </div>
            <div id="premiosSemanales" onclick="showPremios(2)">
                <p>PREMIOS SEMANALES</p>
            </div>
        </div>
    </div>

    <img id="velociraptor" class="animate__animated animate__slideInLeft animate__delay-5s" src="assets/images/velociraptor.png" alt="...">

    <!--Carousel Bootstrap | Premios Finales-->
    <div id="carouselFinal" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselFinal" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselFinal" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselFinal" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="flex-center cont-carousel-premios">
                    <div class="flex-center flex-mobile">
                        <div>
                            <img class="img-premio-1" src="assets/images/PrimerLugar.png" alt="Primer Lugar">
                        </div>
                        <div class="text-premios">
                            <h2>1er LUGAR</h2>
                            <h4>Una Experiencia Jurásica</h4>
                            <p>Un viaje para 4 personas (2 adultos y 2 niños) a Costa Rica por 4 noches.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="flex-center cont-carousel-premios">
                    <div class="flex-center flex-mobile">
                        <div>
                            <img class="img-premio-2" src="assets/images/premios-final-2-lugar.png" alt="Segundo Lugar">
                        </div>
                        <div class="text-premios">
                            <h2>2do LUGAR</h2>
                            <p>Una camioneta Xpander Mitsubishi, Modelo 2022.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="flex-center cont-carousel-premios">
                    <div class="flex-center flex-mobile">
                        <div>
                            <img class="img-premio-3" src="assets/images/TercerLugar.png" alt="Tercer Lugar">
                        </div>
                        <div class="text-premios">
                            <h2>3er LUGAR</h2>
                            <p>Un automóvil Mirage G4, modelo 2022.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFinal" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselFinal" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--Termina Carousel Bootstrap | Premios Finales -->

    <!--Carousel Bootstrap | Premios Semanales-->
    <div id="carouselSemanal" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselSemanal" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselSemanal" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselSemanal" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselSemanal" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="flex-center cont-carousel-premios">
                    <div class="flex-center flex-mobile">
                        <div>
                            <img class="img-premio-1" src="assets/images/primerLugarSemanal.png" alt="Primer Lugar">
                        </div>
                        <div class="text-premios">
                            <h2>1er LUGAR SEMANAL</h2>
                            <h4>Un Kit Jurásico:</h4>
                            <p>Que contiene: Un juego de mesa, dos figuras, una gorra y una playera de la película.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="flex-center cont-carousel-premios">
                    <div class="flex-center flex-mobile">
                        <div>
                            <img class="img-premio-2" src="assets/images/segundoLugarSemanal.png" alt="Segundo Lugar">
                        </div>
                        <div class="text-premios">
                            <h2>2do LUGAR SEMANAL</h2>
                            <h4>Un kit Jurásico</h4>
                            <p>Que contiene: Dos figuras, una gorra y una playera de la película.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="flex-center cont-carousel-premios">
                    <div class="flex-center flex-mobile">
                        <div>
                            <img class="img-premio-3" src="assets/images/tercerLugarSemanal.png" alt="Tercer Lugar">
                        </div>
                        <div class="text-premios">
                            <h2>3er LUGAR SEMANAL</h2>
                            <h4>Un kit Jurásico</h4>
                            <p>Que contiene: Dos figuras de la película.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="flex-center cont-carousel-premios">
                    <div class="flex-center flex-mobile">
                        <div>
                            <img class="img-premio-1" src="assets/images/cuartoLugarSemanal.png" alt="Cuarto Lugar">
                        </div>
                        <div class="text-premios">
                            <h2>4to LUGAR SEMANAL</h2>
                            <h4>Un kit Jurásico</h4>
                            <p>Que contiene: Una gorra y una playera de la película.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselSemanal" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselSemanal" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
    </div>
    <!--Termina Carousel Bootstrap | Premios Semanales -->


    <img id="pastoPremios" src="assets/images/pastoPremios.png" alt="..." width="100%">
    <img id="pastoPremiosMobile" src="assets/images/PremiosMobile.png" alt="..." width="100%">

</section>
<!--TERMINA SECCIÓN PREMIOS-->

<!-- SECCIÓN DE GANADORES -->
<section id="ganadores">
    <div class="flex-center">
        <div id="cont-tabla" class="width50">
            <div id="tableGanadores">
                <div class="flex-center">
                    <img src="assets/images/CaesarPizza.png" alt="..." width="100px">
                </div>
                <h2>GANADORES</h2>

                <!--Cambiar CSS cuando la lista de ganadores comience a crecer y descender-->
                <div id="overflow">

                    <!--Comentar este codigo cuando tengamos lista de ganadores-->
                    <!-- <table>
                        <thead>
                            <tr>
                                <th colspan="2" style="text-align: center; font-size: 40px;">PRÓXIMAMENTE</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="linea"></th>
                            </tr>
                        </thead>
                    </table> -->





                    <!--Descomentar este codigo cuando tengamos lista de ganadores-->
                    <!-- <table>
                        <thead>
                            <tr>
                                <th colspan="2">GANADORES SEMANA 3</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="linea"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>...</td>
                                <td>1° Lugar Semanal</td>
                            </tr>
                            <tr>
                                <td>...</td>
                                <td>2° Lugar Semanal</td>
                            </tr>
                            <tr>
                                <td>...</td>
                                <td>3° Lugar Semanal</td>
                            </tr>
                            <tr>
                                <td>...</td>
                                <td>4° Lugar Semanal</td>
                            </tr>
                        </tbody>
                    </table> -->



                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">GANADORES SEMANA 2</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="linea"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan Ramos Islas</td>
                                <td class="text-right">1er Lugar Semanal</td>
                            </tr>
                            <tr>
                                <td>Laura Martinez Garcia</td>
                                <td class="text-right">2do Lugar Semanal</td>
                            </tr>
                            <tr>
                                <td>Luis Eduardo Martinon López</td>
                                <td class="text-right">3er Lugar Semanal</td>
                            </tr>
                            <tr>
                                <td>Ricardo Hernández Iza</td>
                                <td class="text-right">4to Lugar Semanal</td>
                            </tr>
                        </tbody>
                    </table>

                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">GANADORES SEMANA 1</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="linea"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jose Enrique Miramontes Medrano</td>
                                <td class="text-right">1er Lugar Semanal</td>
                            </tr>
                            <tr>
                                <td>Jonathan Perez Gonzalez</td>
                                <td class="text-right">2do Lugar Semanal</td>
                            </tr>
                            <tr>
                                <td>José de Jesús Gutiérrez Ramírez</td>
                                <td class="text-right">3er Lugar Semanal</td>
                            </tr>
                            <tr>
                                <td>Hector Isaac Gonzalez Avila</td>
                                <td class="text-right">4to Lugar Semanal</td>
                            </tr>
                        </tbody>
                    </table>

                </div>


            </div>
        </div>
        <div id="dinosauriosGanadores" class="width50">
            <img id="dinosaurios" src="assets/images/velociraptors-2.png" alt="...">
        </div>
    </div>
</section>
<!-- TERMINA SECCIÓN DE GANADORES -->

<!-- VIDEO JURASSIC-->
<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog">
        <div class="special-size modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close white-color" data-bs-dismiss="modal" (click)="closePopup()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="315" id="myVideoId" src="https://www.youtube.com/embed/HQwE5QruhU0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal" (click)="closePopup()">Cerrar</button>
            </div>
        </div>
    </div>
</div> -->
<!-- TERMINA VIDEO JURASSIC-->

<!--FOOTER-->
<app-footer></app-footer>
<!--TERMINA FOOTER-->