<app-header></app-header>
<section id="gameover">
    <div class="vertical-center">
        <div class="cont-instrucciones">
            <div>
                <h2>JUEGO TERMINADO</h2>
                <h3>{{correctas}}/{{preguntas}}</h3>
                <img src="assets/images/dino-instrucciones.png" alt="...">
                <div class="cont-button-instrucciones">
                    <button [routerLink]="['/micuenta']">MI CUENTA</button>
                </div>
            </div>
        </div>
        <!---->
    </div>
</section>
<app-footer></app-footer>