<footer>
    <section>
        <div class="linea"></div>
        <div class="cont-footer">
            <div class="redes">
                <a href=" https://www.facebook.com/littlecaesarsMEX">
                    <img src="assets/images/facebook.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/littlecaesarsmx/">
                    <img src="assets/images/instagram.png" alt="Instagram">
                </a>
                <a href="https://twitter.com/littlecaesarsmx">
                    <img src="assets/images/twitter.png" alt="Twitter">
                </a>
                <!--<a href="https://www.youtube.com/c/LittleCaesarsMxOficial">
            <img src="assets/images/youtube.png" alt="YouTube">
          </a>-->
            </div>
            <div class="visita">
                <a href="https://mexico.littlecaesars.com/es-mx/">VISITA NUESTRO SITIO OFICIAL</a>
            </div>
        </div>
        <div class="linea"></div>
        <div class="cont-footer">
            <div class="bases">
                <div class="cont-footer">
                    <ul>
                        <li data-bs-toggle="modal" data-bs-target="#Aviso">Aviso de Privacidad</li>
                        <li data-bs-toggle="modal" data-bs-target="#Terminos">Términos y Condiciones</li>
                        <li data-bs-toggle="modal" data-bs-target="#Bases">Bases de la promoción</li>
                        <!--<li data-bs-toggle="modal" data-bs-target="#Productos">Productos participantes</li>-->
                    </ul>
                </div>
                <div class="cont-footer">
                    <p>©2013-2020 Little Caesar Enterprises, Inc. Todos los derechos Reservados. El nombre, los logotipos y las marcas relacionadas con Little Caesars® Pizza son marcas registradas de Little Caesar Enterprises, Inc.</p>
                </div>
            </div>
        </div>
    </section>
</footer>

<!--MODALS-->
<!-- AVISO DE PRIVACIDAD-->
<div class="modal fade" id="Aviso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fontLC" id="exampleModalLabel">AVISO DE PRIVACIDAD</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe src="https://littlecaesarsnfl.com.mx/VOBO/assets/legales/aviso.html" width="96%" height="100%" style="border: none;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">¡ENTENDIDO!</button>
            </div>
        </div>
    </div>
</div>
<!-- TERMINA AVISO DE PRIVACIDAD-->


<!-- TÉRMINOS Y CONDICIONES-->
<div class="modal fade" id="Terminos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fontLC" id="exampleModalLabel">TÉRMINOS Y CONDICIONES</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe src="https://littlecaesarsnfl.com.mx/VOBO/assets/legales/terminos.html" width="96%" height="100%" style="border: none;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">¡ENTENDIDO!</button>
            </div>
        </div>
    </div>
</div>
<!-- TERMINA TÉRMINOS Y CONDICIONES-->

<!-- BASES-->
<div class="modal fade" id="Bases" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fontLC" id="exampleModalLabel">BASES</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe src="https://littlecaesarsnfl.com.mx/VOBO/assets/legales/bases.html" width="96%" height="100%" style="border: none;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">¡ENTENDIDO!</button>
            </div>
        </div>
    </div>
</div>
<!-- TERMINA BASES-->